.changePassword {
  position: absolute;
  top: -6rem;
  left: 0;
  transform: scale(0);

  width: 100vw;
  height: calc(100vh - 6rem * 2);

  opacity: 0;
  background-color: rgb(0 0 0 / 25%);

  transition: all 0.1s 0.2s;

  &_show {
    transform: scale(1);
    opacity: 1;
    transition: all 0s 0s;
  }

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    width: 100%;
    max-width: 510px;
    height: calc(100% - 8rem * 2);
    padding: 0 2rem;

    opacity: 0;
    background-color: var(--primary-light-color);
    border-radius: 1rem;

    transition: all ease-in-out 0.3s;

    &_show {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  &__form {
    width: 100%;
    height: fit-content;
  }

  &__closeButton {
    cursor: pointer;

    position: absolute;
    top: 2rem;
    right: 2rem;

    background-color: transparent;
    border: none;

    &_text {
      & svg {
        stroke: var(--text-color);
      }
    }
  }
}
