.root {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  height: fit-content;
}

.form__auth {
  max-width: 340px;
  margin: 0 auto;
}
