.root {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  height: auto;
}

.form__auth {
  width: 40%;
  margin: 0 auto;
}
