.app.dark {
  --bg-leaderboard-table-color: #222;
  --bg-leaderboard-table-color-hover: #3c3c3c;

  background: linear-gradient(
    to bottom,
    var(--primary-light-color) 0%,
    var(--primary-light-color) 70vh,
    var(--primary-dark-color) 100%
  );
}
