.app.light {
  --bg-color: #e8e8ea;
  --text-color: #333;
  --primary-color: coral;
  --secondary-color: blue;
  --bg-leaderboard-table-color: #d7d8dd;
  --bg-leaderboard-table-color-hover: #aeafb4;
}
