.root {
  min-height: calc(100vh - 28px - 24px);
  padding: 40px 0;
  text-align: center;

  .leaderboard__headline {
    font-weight: 300;
  }

  .leaderboard__btn {
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 15px;
  }
}
