.root {
  min-height: calc(100vh - 28px - 24px);
  padding: 5rem 0;
  text-align: center;
  background-color: var(--bg-color);

  .leaderboard__headline {
    font-weight: 300;
    color: var(--secondary-light-color);
  }

  .leaderboard__btn {
    width: 180px;
    background-color: var(--primary-dark-color);
    border-radius: 15px;
  }
}
