@import "../../styles/themes/normal";
@import "../../styles/themes/dark";

.root {
  display: flex;
}

.profile {
  color: var(--text-color);
  background-color: var(--bg-leaderboard-table-color);

  &:hover {
    background-color: var(--bg-leaderboard-table-color-hover);
  }
}
