.ForumPage {
  margin: 6rem 0;

  &__header {
    padding: 28px 0;
    border-bottom: 2px solid var(--text-color);

    a {
      margin-right: 35px;
      color: var(--text-color);
      text-decoration: none;
    }
  }

  &__form {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid var(--text-color);

    &_input {
      width: 100%;

      & div {
        margin-right: 10px;
      }
    }
  }

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
